.link-password {
  color: #215e99;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  transition: all 0.3s;
}

.link-password:visited {
  color: #215e99;
  font-weight: 600;
  transition: all 0.3s;
}

.link-password:hover {
  color: #ec552f;
  transition: all 0.3s;
}
