.signIn {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.imgBox {
  height: 100%;
}

.imgDsk {
  display: flex;
}

.imgMob {
  display: none;
}

.imgMobLogin {
  display: none;
}

.imgMobLogin {
  display: none;
}

.formBox {
  display: flex;
  margin-left: 220px;
  margin-top: 120px;
}

.formRegisterBox {
  display: flex;
  margin-left: 0;
  margin-top: 120px;
}

@media (max-width: 320px) {
  .signIn {
    background-color: #fbefec;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .imgDsk {
    display: none;
  }

  .imgMob {
    display: flex;
    margin-top: 120px;
  }

  .formBox {
    margin-left: -300px;
    margin-top: 220px;
  }

  .formRegisterBox {
    margin-left: -30px;
    margin-top: 350px;
  }
}
